<nav
  class="nav js-nav"
  data-domain="{{domain.name}}"
  data-is-home="{{home}}"
  data-is-site-aspect="{{domain.siteAspect}}"
  data-version="{{domain.version.string}}"
  role="navigation"
>
  {{> navigation-explore }}
</nav>

