.container {
  margin-left: auto;
  margin-right: auto;

  @include media(xl) {
    max-width: $screen-xl;
  }
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-justified {
  justify-content: space-between;
}

.grow {
  flex: 1 1 auto;
}

.shrink {
  flex: 0 0 auto;
}
