:root {
  --navbar-height: 4.4rem;
  --navbar-height-sticky: 4.35rem; /* compensates for alignment error in Chrome & Edge */
}
.ms-com-wrapper.ms-com-wrapper-header #sidr .block-search {
    width: 100%;
}
.ms-com-wrapper.ms-com-wrapper-header #sidr ul li {
  border-top: none;
}
.ms-com-wrapper.ms-com-wrapper-header .region-off-canvas {
    overflow: initial;
}
