// overrides for marketing header
.ms-com-content-header {
  border-bottom: 1px solid var(--aluminum-4);
}

// specificity to override position
.ms-com-content.ms-com-content.ms-com-content-header:not(.ms-com-content-header-with-banner) {
  position: sticky;
  top: 0;
}