// overrides for marketing header
.ms-com-content-header {
  border-bottom: 1px solid var(--aluminum-4);
  box-shadow: 0 3px 15px rgba(0,0,0,.015);
}

// specificity to override position
.ms-com-content.ms-com-content.ms-com-content-header:not(.ms-com-content-header-with-banner) {
  position: relative;
}
