.nav {
  padding: var(--lg);
  width: var(--nav-width);
}

.nav-link {
  cursor: pointer;
  padding: var(--xs);

  .icon {
    height: var(--lg);
    margin-right: var(--xs);
    width: var(--lg);
  }

  .version-select {
    height: auto;
  }
}

//
.domain {
  font-size: 14px;
}

.domain-title {

}

// explore
.navigation-explore .domain-versions {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.3rem;
}

.navigation-explore .domain-version {
  color: var(--steel-2) !important;
  display: inline-block;
  font-size: 0.95em;
  line-height: 1.4rem;
  margin: 0;
  padding: 0 0.3rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.navigation-explore .domain-version--current,
.navigation-explore .domain-version:hover {
  color: var(--core-blue-3) !important;
  text-decoration: none;
}
