.toolbar {
  background-color: var(--aluminum-1);
  border-bottom: 1px solid var(--aluminum-4);
  box-shadow: 0 3px 15px rgba(0,0,0,.025);
  position: sticky;
  top: var(--navbar-height);
  width: 100%;

  .container {
    padding: var(--sm) var(--lg);
  }

  // search input wrapper
  .search {
    position: relative;
    width: $nav-width - ($lg * 2);

    &::before {
      background-image: url(../images/icons/search.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: var(--md);
      content: '';
      display: block;
      height: var(--md);
      left: var(--xs);
      opacity: .4; // same as chevrons
      position: absolute;
      width: var(--md);
    }

    .input {
      padding-left: 22px; // adding more than --lg (20px)
    }
  }
}

.breadcrumbs {
  padding: 0 var(--lg);

  .link {
    font-size: 12px;
    height: var(--lg);
    opacity: .75;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }

  // home icon in breadcrumbs
  .link-home svg {
    height: var(--lg);
    transform: translateY(-1px);
    width: var(--lg);
  }

  .li + .li::before {
    background-image: url(../images/icons/chevron.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--md);
    content: '';
    display: inline-block;
    height: var(--md);
    margin: 0 var(--xs);
    opacity: .4; // same as search icon
    pointer-events: none;
    transform: rotate(-90deg);
    width: var(--md);
  }
}

// version selector
.version-select + .link-edit {
  margin-left: var(--lg);
}

// link to GitHub
.link-edit {
  font-size: 12px;
  height: var(--lg);
  text-decoration: none;

  svg {
    height: var(--md);
    margin-right: var(--xs);
    width: var(--md);
  }
}
