@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular "), local("Open Sans-Regular"),
    url("../fonts/open-sans-latin-400.woff2") format("woff2"),
    url("../fonts/open-sans-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Regular italic"), local("Open Sans-Regularitalic"),
    url("../fonts/open-sans-latin-400italic.woff2") format("woff2"),
    url("../fonts/open-sans-latin-400italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold "), local("Open Sans-SemiBold"),
    url("../fonts/open-sans-latin-600.woff2") format("woff2"),
    url("../fonts/open-sans-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold italic"), local("Open Sans-SemiBolditalic"),
    url("../fonts/open-sans-latin-600italic.woff2") format("woff2"),
    url("../fonts/open-sans-latin-600italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold "), local("Open Sans-Bold"),
    url("../fonts/open-sans-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold italic"), local("Open Sans-Bolditalic"),
    url("../fonts/open-sans-latin-700italic.woff2") format("woff2"),
    url("../fonts/open-sans-latin-700italic.woff") format("woff");
}
